#textdomain wesnoth-vp

[scenario]
	id="06_Betrayal"
	map_file=Lava_Saurgath.map
	
	name="Betrayal"
	victory_when_enemies_defeated=no
	next_scenario=07_Snowpass
	{TURNS 40 33 28}
	
	{UNDERGROUND}
	{SCENARIO_MUSIC "siege_of_laurelmor.ogg"}
	{EXTRA_SCENARIO_MUSIC "battle-epic.ogg"}
	[story]
		[part]
			music=revelation.ogg
			{VP_BIGMAP}
			story= _ "Zanza, Anexir, and Salanix spoke at length. Salanix revealed he was the border guard of a remote region of the Grey Saurians' kingdom. These saurians called themselves 'Deep Saurians' and had never met others of their kind, only trolls, ants, spiders, goblins, and other hostile creatures."
		[/part]
		[part]
			{VP_BIGMAP}
			story= _ "The Deep Saurians lived deeper in the mountains near a lava river. They had a single chief who led their tribe. They forged weapons like dwarves and farmed fungus like humans, yet they were saurians, like Zanza's tribe. Salanix promised to lead them to Saurhearth, their capital, which Zanza longed to see and speak with its chief."
		[/part]
		[part]
			{VP_BIGMAP}
			story= _ "Several days later, the tribe arrived at the outskirts of Saurhearth, but the welcome was colder than they had expected."
		[/part]
	[/story]
	{VP_TRACK {JOURNEY_06_NEW} }
	
	[event]
		name=prestart
		{VP_RECALL_COSTS_ADJUSTMENT}
		#capture all villages for team 2
		{CAPTURE_VILLAGES_OF_TYPE (Urb^Vd) 2 (0-40) (0-22) 0}
		{CAPTURE_VILLAGES_OF_TYPE (Urb^Vd) 2 (0-25) (23-35) 0}
		{CAPTURE_VILLAGES_OF_TYPE (Urb^Vd) 2 (20-40) (31-40) 0}
		[objectives]
			{OBJECTIVE ( _ "Defeat the traitors") (win)}
			{OBJECTIVE ( _ "Death of Zanza") (lose)}
			{OBJECTIVE ( _ "Death of Anexir") (lose)}
			{OBJECTIVE ( _ "Death of Salanix") (lose)}
			{OBJECTIVE ( _ "Death of Refumee") (lose)}
			{TURNS_RUN_OUT}
			[gold_carryover]
				bonus=yes
				carryover_percentage=30
			[/gold_carryover]
		[/objectives]
		{BANDIT_RECRUIT_PRESTART}
		{DEEP_RECRUITS}
		{RECALL_XY Anexir 4 37}
		{RECALL_XY Salanix 6 38}
		{RECALL_XY Tarex 5 39}
		{RECALL_XY Katraxtrax 7 40}
		{RECALL_XY Craftsman 5 37}
		[set_variable]
			name=number_civ
			value=20
		[/set_variable]
		[sound_source]
			id=Lava_Sound
			sounds="data/add-ons/Animated_Weather_and_Scenery/sounds/lava_fall.ogg"
			loop=-1
			full_range=1
			fade_range=4
			check_fogged=false
			check_shrouded=false
			x=15,18,23
			y=39,39,22
		[/sound_source]
		
		[AWaS_Create_Basic_Scenery]
			id=Lava_Fall_S
			Scenery_Type=magma_fall_south
			[filter_location]
				x=15,18,23
				y=39,39,22
			[/filter_location]
		[/AWaS_Create_Basic_Scenery]
		
	[/event]
	
	[side]
		side=1
		canrecruit=yes
		controller=human
		{GOLD 200 150 125}
		{INCOME 3 1 0}
		color=purple
		team_name=1
		user_team_name= _ "Firefly Clan"
		recruit="Ref Saurian Devotee,Ref Young Saurian,Saurian Skirmisher,Saurian Augur,Ref Saurian Shaman,Ref Dragonfly Rider,Ref Saurian Cannibal,Bandit Saurian Recruit List,Deep Saurian Recruit List"
		{VILLAGE 2 35}
		{VILLAGE 8 37}
		{VILLAGE 4 38}
		{VILLAGE 5 39}
		{VILLAGE 14 38}
		{CHARACTER_STATS_ZANZA}
		{ATO_SAURIAN_FLAG}
	[/side]
	[side]
		side=2
		controller=ai
		{GOLD 400 300 200}
		{INCOME 7 5 3}
		team_name=1
		color=blue
		save_id=Refumee
		persistent=yes
		user_team_name= _ "Deep Saurians"
		{ATO_SAURIAN_FLAG}
		recruit="Deep Saurian Augur,Deep Saurian Fighter,Deep Saurian Blacksmith,Deep Saurian Rider"
		[unit]
			facing="se"
			{CHARACTER_STATS_REFUMEE}
			x=22
			y=4
		[/unit]
		[unit]
			facing="sw"
			id=Defender
			type="Deep Banner Fire Ant Rider"
			gender=male
			num_traits=3
			canrecruit=yes
			[modifications]
				{TRAIT_LOYAL}
				{TRAIT_RESILIENT}
				{TRAIT_HEALTHY}
			[/modifications]
			x=11
			y=13
		[/unit]
		{VILLAGE 20 39}
		{VILLAGE 28 29}
	[/side]
	[side]
		side=3
		canrecruit=yes
		controller=ai
		{GOLD 300 425 600}
		{INCOME 5 8 20}
		team_name=2
		color=orange
		user_team_name= _ "Traitors"
		{ATO_SAURIAN_FLAG}
		recruit="Deep Saurian Augur,Deep Saurian Fighter,Deep Saurian Blacksmith,Deep Fire Ant Rider, Deep Saurian Soothsayer,Deep Saurian Craftsman,Deep Saurian Pikemen,Deep Saurian Rider"
		[leader]
			facing="sw"
			id=Leader1
			name="Zizzasz"
			type="Deep Saurian Warrior"
			num_traits=3
			[modifications]
				{TRAIT_LOYAL}
				{TRAIT_HEALTHY}
				{TRAIT_STRONG}
			[/modifications]
			ai_special=guardian
			x=36
			y=28
		[/leader]
		{VILLAGE 38 30}
		{VILLAGE 30 28}
		{VILLAGE 26 23}
	[/side]
	[side]
		side=4
		canrecruit=yes
		controller=ai
		{GOLD 100 200 250}
		{INCOME 3 5 8}
		team_name=2
		color=black
		user_team_name= _ "Mercenaries"
		recruit="Troll,Troll Whelp,Troll Rocklobber,Troll Shaman"
		[leader]
			facing="sw"
			id=Leader2
			type="Great Troll"
			num_traits=3
			[modifications]
				{TRAIT_LOYAL}
				{TRAIT_RESILIENT}
				{TRAIT_STRONG}
			[/modifications]
			ai_special=guardian
			x=30
			y=16
		[/leader]
		{FLAG_VARIANT6 ragged}
		{GENERIC_UNIT 4 (Troll) 33 27}
		{GENERIC_UNIT 4 (Troll) 36 32}
		{GENERIC_UNIT 4 (Troll Rocklobber) 34 29}
		{GENERIC_UNIT 4 (Troll Shaman) 36 29}
	[/side]
	
	[side]
		side=5
		canrecruit=yes
		controller=ai
		{GOLD 100 250 300}
		{INCOME 10 20 20}
		team_name=2
		color=teal
		user_team_name= _ "Mercenaries"
		fog=yes
		#ifdef HARD
			recruit="Naga Guard,Naga Fighter,Naga Dirkfang,	Naga Warrior,Naga Shield Guard,Naga Ringcaster,Naga Ophidian"
		#else
			recruit="Naga Guard,Naga Fighter,Naga Dirkfang"
		#endif
		[leader]
			facing="sw"
			id=Leader3
			type="Naga High Guard"
			num_traits=3
			[modifications]
				{TRAIT_LOYAL}
				{TRAIT_RESILIENT}
				{TRAIT_STRONG}
			[/modifications]
			ai_special=guardian
			x=38
			y=38
		[/leader]
		{FLAG_VARIANT6 ragged}
		{GENERIC_UNIT 5 (Naga Warrior) 34 37}
		{GENERIC_UNIT 5 (Naga Ringcaster) 35 39}
		{GENERIC_UNIT 5 (Naga Shield Guard) 38 39}
	[/side]

	#outpost
	[side]
		side=6
		team_name=2
		no_leader=yes
		color=red
		hidden=yes
		[unit]
			facing="sw"
			id=Leader4
			type="Ogre"
			ai_special=guardian
			x=14
			y=34
		[/unit]
		[ai]
			[goal]
				name=target
				[criteria]
					side=1
				[/criteria]
				value=3
			[/goal]
			[goal]
				name=target
				[criteria]
					side=2
				[/criteria]
				value=1
			[/goal]
			[goal]
				name=target
				[criteria]
					side=2
				[/criteria]
				value=0
			[/goal]
		[/ai]
		{FLAG_VARIANT6 ragged}
			#ifdef HARD
				{GENERIC_UNIT 6 (Great Wolf) 16 35}
				{GENERIC_UNIT 6 (Direwolf) 10 37}
				{GENERIC_UNIT 6 (Great Wolf) 18 27}
			#else
				{GENERIC_UNIT 6 (Wolf) 16 35}
				{GENERIC_UNIT 6 (Wolf) 10 37}
				{GENERIC_UNIT 6 (Wolf) 18 27}
			#endif
			{GENERIC_UNIT 6 (Wolf) 13 34}
			{GENERIC_UNIT 6 (Wolf) 12 32}
	[/side]
	
	#civilians
	[side]
		side=7
		team_name=1
		hidden=yes
		no_leader=yes
		color=white
		[ai]
			aggression=0.01
			caution=1
		[/ai]
		{ATO_SAURIAN_FLAG}
		{GENERIC_UNIT_GUARDIAN 7 (Deep Young Saurian) 15 32}
		{GENERIC_UNIT_GUARDIAN 7 (Deep Young Saurian) 16 28}
		{GENERIC_UNIT_GUARDIAN 7 (Deep Young Saurian) 25 35}
		{GENERIC_UNIT_GUARDIAN 7 (Deep Young Saurian) 32 33}
		{GENERIC_UNIT_GUARDIAN 7 (Deep Young Saurian) 27 39}
		{GENERIC_UNIT_GUARDIAN 7 (Deep Young Saurian) 28 29}
		{GENERIC_UNIT_GUARDIAN 7 (Deep Young Saurian) 26 21}
		{GENERIC_UNIT_GUARDIAN 7 (Deep Young Saurian) 18 18}
		{GENERIC_UNIT_GUARDIAN 7 (Deep Young Saurian) 28 9}
		{GENERIC_UNIT_GUARDIAN 7 (Deep Young Saurian) 23 9}
		{GENERIC_UNIT_GUARDIAN 7 (Deep Young Saurian) 16 15}
		{GENERIC_UNIT_GUARDIAN 7 (Deep Young Saurian) 16 11}
		{GENERIC_UNIT_GUARDIAN 7 (Deep Young Saurian) 13 7}
		{GENERIC_UNIT_GUARDIAN 7 (Deep Young Saurian) 4 6}
		{GENERIC_UNIT_GUARDIAN 7 (Deep Young Saurian) 3 14}
		{GENERIC_UNIT_GUARDIAN 7 (Deep Young Saurian) 8 10}
		{GENERIC_UNIT_GUARDIAN 7 (Deep Young Saurian) 19 24}
		{GENERIC_UNIT_GUARDIAN 7 (Deep Young Saurian) 39 36}
		{GENERIC_UNIT_GUARDIAN 7 (Deep Young Saurian) 33 2}
		{GENERIC_UNIT_GUARDIAN 7 (Deep Young Saurian) 18 4}
	[/side]
	
	[event]
		name=start
		
		{SPEAK Salanix ( _ "Welcome to my home, Saurhearth. Feel the warmth of the lava streams. Rest in the mushroom pools. Wait... what is that noise?")}
		{SPEAK Salanix ( _ "We are under attack! Zanza, will you stand with us again? I am sure the Chief needs our help.")}
		{SPEAK Zanza ( _ "Of course, my friend.")}
		{SPEAK Refumee ( _ "Salanix, is that you? By my scales, I am glad to see you. We need your help.")}
		{SPEAK Refumee ( _ "Zizzasz has gone mad and started a civil war with the aid of outsiders!")}
		{SPEAK Leader1 ( _ "Ha, ha. I am mad? Just step down and die.")}
		{SPEAK Leader2 ( _ "Enough talking. Fight! Our warriors are hungry.")}
		{SPEAK Leader1 ( _ "Mercenaries, earn your gold.")}
		{SPEAK Leader3 ( _ "We will.")}
		{SPEAK Leader4 ( _ "I am here to make sure no one escapes or joins you. Leave now, little green ones, or my wolves will eat you whole.")}
		{SPEAK Zanza ( _ "Anexir, did you hear that? He tried to scare us with wolves.")}
		{SPEAK Anexir ( _ "Swamp lizards are scarier than that thing and its pets.")}
		{SPEAK Salanix ( _ "I thank you, Zanza. If you wish, I can call on warriors of my tribe.")}
		{SPEAK_NARRATOR ( _ "Hint: If you choose, Salanix can now recruit Deep Saurians. They are sturdier than swamp saurians and can wield fire magic.")}
		[message]
			speaker=narrator
			message= _ "Do you wish to take command of the Deep Saurians side?"
			[option]
				label= _ "Yes, I will lead them."
				[command]
					[modify_side]
						side=2
						controller="human"
					[/modify_side]
				[/command]
			[/option]
			[option]
				label= _ "No, I will not."
				[command]
					[gold]
						amount=50
						side=2
					[/gold]
				[/command]
			[/option]
		[/message]
		{RECALL_FOLLOWER}
	[/event]

	
	{DEATH_OF_SOMEONE Leader2 ( _ "No... food is fighting back? I don’t like this...")}
	{DEATH_OF_SOMEONE Leader3 ( _ "I can’t die... not before I get my payment...")}
	{DEATH_OF_SOMEONE Leader4 ( _ "Ugh... what happened...?")}
	
	# Civilian underfire
	[event]
		name=attack
		[filter]
			side=3
		[/filter]
		[filter_second]
			side=7
		[/filter_second]
		
		{SPEAK second_unit ( _ "Help! Somebody help us!")}
		{SPEAK unit ( _ "Shut up and die already!")}
		{SPEAK Salanix ( _ "They are butchering civilians! We must hurry!")}
		[objectives]
			{OBJECTIVE ( _ "Defeat the traitors") (win)}
			{OBJECTIVE ( _ "Death of Zanza") (lose)}
			{OBJECTIVE ( _ "Death of Anexir") (lose)}
			{OBJECTIVE ( _ "Death of Salanix") (lose)}
			{OBJECTIVE ( _ "Death of Refumee") (lose)}
			{OBJECTIVE ( _ "Keep at least 8 civilians alive: $|number_civ/20 alive") (lose)}
			{TURNS_RUN_OUT}
			[gold_carryover]
				bonus=yes
				carryover_percentage=30
			[/gold_carryover]
		[/objectives]
			[micro_ai]
				side=7
				ai_type=coward
				action=add
				ca_id=civilian_flee
				[filter]
				[/filter]
				distance=9
			[/micro_ai]
	[/event]
	
		#release ants on the battlefield
		[event]
			name=last breath
			first_time_only=no
			[filter]
				side=7
			[/filter]
			[filter_condition]
				[have_unit]
					side=7
					count=14
				[/have_unit]
			[/filter_condition]
			[kill]
				id=$unit.id
				animate=yes
			[/kill]
			{SPEAK Refumee ( _ "Send in the fire ants! That should turn the tide.")}
			{PUT_SAFEPLACE 2 (Fire Ant) 19 17}
			{PUT_SAFEPLACE 2 (Fire Ant) 23 13}
			{PUT_SAFEPLACE 2 (Fire Ant) 15 15}
			{PUT_SAFEPLACE 2 (Fire Ant) 15 18}
			{PUT_SAFEPLACE 2 (Fire Ant) 16 10}
			{PUT_SAFEPLACE 2 (Fire Ant) 21 22}
			{PUT_SAFEPLACE 2 (Fire Ant) 23 8}
			[set_variable]
				name=number_civ
				sub=1
			[/set_variable]
		[/event]
		
		# ***** victory events *****
		[event]
			name=last breath
			first_time_only=no
			[filter]
				side=3
			[/filter]
			[kill]
				id=$unit.id
				animate=yes
			[/kill]
			[if]
				[have_unit]
					side=3
					count=0
				[/have_unit]
				[then]
				{SPEAK second_unit ( _ "Die, traitor!")}
				{SPEAK Leader2 ( _ "No gold, no fight. Retreat!")}
				{SPEAK Leader3 ( _ "Without payment, this battle isn’t worth it. Back into the depths!")}
					{REPLACE_SCENARIO_MUSIC heroes_rite.ogg}
					[if]
						[have_unit]
							id=Leader2,Leader3,Leader4
							count=0
						[/have_unit]
						[then]
							[set_achievement]
								content_for=vendraxis_prophecy
								id="rebellion"
							[/set_achievement]
						[/then]
					[/if]
					
					[kill]
						side=4
					[/kill]
					[kill]
						side=5
					[/kill]
					[kill]
						side=6
					[/kill]
					{SPEAK Refumee ( _ "Please, come with me, brave heroes of Saurhearth.")}
					{MOVE_UNIT (id=Refumee) 6 23}
					[modify_unit]
					  [filter]
						id=Refumee
					  [/filter]
					  facing="nw"
					[/modify_unit]
					{MOVE_UNIT (id=Zanza) 3 19}
					[modify_unit]
					  [filter]
						id=Zanza
					  [/filter]
					  facing="se"
					[/modify_unit]
					{MOVE_UNIT (id=Anexir) 9 19}
					[modify_unit]
					  [filter]
						id=Anexir
					  [/filter]
					  facing="sw"
					[/modify_unit]
					{MOVE_UNIT (id=Salanix) 4 22}
					[modify_unit]
					  [filter]
						id=Salanix
					  [/filter]
					  facing="ne"
					[/modify_unit]
					{MOVE_UNIT (id=Defender) 8 22}
					[modify_unit]
					  [filter]
						id=Defender
					  [/filter]
					  facing="nw"
					[/modify_unit]
					{SPEAK Refumee ( _ "I truly want to thank you for your help. I don't know how many more of my tribe would have died without you.")}
					{SPEAK Zanza ( _ "We will always aid our kind. We hope to receive the same, should we ever need it.")}
					{SPEAK Refumee ( _ "We are not used to friendly outsiders, but this is a welcome change. We would gladly help you in your endeavor. But tell me, what are you doing here? How did you find us? And why are you green?")}
					{SPEAK Zanza ( _ "We live in the outer world, similar to your mushroom pools. We have our own empire. Our capital is called Saurgrath, and all saurians there are green. I also wondered about your grey scales.")}
					{SPEAK Salanix ( _ "I believe scale colors depend on our environment.")}
					{SPEAK Anexir ( _ "We are here because of a prophecy from a saurian named Vendraxis. If I interpret it correctly, the betrayal we witnessed was part of it.")}
					{SPEAK Refumee ( _ "You said <i>Vendraxis</i>?")}
					{SPEAK Anexir ( _ "Yes, Vendraxis.")}
					{SPEAK Salanix ( _ "You never told me you were allied with Vendraxis!")}
					{SPEAK Zanza ( _ "Wait, what? Who is Vendraxis to you?")}
					{SPEAK Refumee ( _ "He is our nemesis, a demon who has threatened our tribe for years. We have killed him several times, but he always returns.")}
					{SPEAK Salanix ( _ "Do you remember the saurian corpses and ghosts?")}
					{SPEAK Zanza ( _ "I do. What about them?")}
					{SPEAK Salanix ( _ "That's his so-called <i>tribe</i>.")}
					{SPEAK Anexir ( _ "No way! Vendraxis sent these prophecies just to lure our tribe here? I don't want to believe it. I saw heroism.")} 
					{SPEAK Salanix ( _ "Perhaps he wants someone to end his misery, or to create a massive undead host. I do not know.")}
					{SPEAK Zanza ( _ "Well, I am not here to die or become a walking corpse. I’m here to settle a new tribe.")}
					{SPEAK Anexir ( _ "Then I suggest we continue following the prophecies and meet this Vendraxis in person. If we work together, we can resolve this dispute. I saw your spells, Salanix—they are different from ours. I also witnessed the magic of those creatures. We will find a way.")}
					{SPEAK Refumee ( _ "So be it. We will aid you. Together, we will be stronger and repay our debt. What’s next?")}
					{SPEAK Anexir ( _ "I recall a snowy mountain with trolls and humans. Vendraxis seems to live near there. I can feel his presence.")}
					{SPEAK Salanix ( _ "I think I know the place. Let me guide you.")}
					{SPEAK Refumee ( _ "We will follow you a few days later. I need to prepare my saurians for the fight ahead. Salanix will be of great help.")}
					{SPEAK Zanza ( _ "Thank you all. Let us find this Vendraxis.")}
					{CLEAR_VARIABLE number_civ}
					[modify_unit]
						[filter]
							id=Salanix
						[/filter]
						[modifications]
							{TRAIT_LOYAL_LEADER}
							{TRAIT_DEXTROUS}
							{TRAIT_QUICK_ZANZA}
						[/modifications]
					[/modify_unit]
					[endlevel]
						result=victory
						bonus=yes
						{NEW_GOLD_CARRYOVER 30}
					[/endlevel]
				[/then]
			[/if]
		[/event]
		
		# ***** generic defeat events *****
		
		{VP_DEATH_OF_LEADER}
		
		[event]
			name=last breath
			first_time_only=no
			[filter]
				side=7
			[/filter]
			[kill]
				id=$unit.id
				animate=yes
			[/kill]
			[filter_condition]
				[not]
					[have_unit]
						side=7
						count=14
					[/have_unit]
				[/not]
				[and]
					[not]
						[have_unit]
							side=7
							count=7
						[/have_unit]
					[/not]
				[/and]
			[/filter_condition]
			[set_variable]
				name=number_civ
				sub=1
			[/set_variable]
		[/event]
		
		[event]
			name=last breath
			first_time_only=no
			[filter]
				side=7
			[/filter]
			[kill]
				id=$unit.id
				animate=yes
			[/kill]
			[filter_condition]
				[have_unit]
					side=7
					count=7
				[/have_unit]
			[/filter_condition]
			{SPEAK Refumee ( _ "So many have died! We will never recover from that.")}
			[endlevel]
				result=defeat
			[/endlevel]
		[/event]
		
		[event]
			name=last breath
			[filter]
				id=Salanix
			[/filter]
			{SPEAK Salanix ( _ "I have failed my tribe...")}
			[kill]
				id=Salanix
				animate=yes
			[/kill]
			[endlevel]
				result=defeat
			[/endlevel]
		[/event]
		
		## [event]
			## name=last breath
			## [filter]
				## id=Leader1
			## [/filter]
			## {SPEAK Leader1 ( _ "He said... I would ... win...")}
			## {SPEAK Salanix ( _ "Who said that?")}
			## [kill]
				## id=Leader1
				## animate=yes
			## [/kill]
			## {SPEAK Anexir ( _ "He's already dead...")}
			## [endlevel]
				## result=defeat
			## [/endlevel]
		## [/event]
		
		[event]
			name=last breath
			[filter]
				id=Refumee
			[/filter]
			{SPEAK Refumee ( _ "We are lost... scattered into the depths, our kind will vanish...")}
			[kill]
				id=Refumee
				animate=yes
			[/kill]
			[endlevel]
				result=defeat
			[/endlevel]
		[/event]
	
		[event]
			name=time over
			[endlevel]
				result=defeat
			[/endlevel]
		[/event]
		# ***** generic events *****
		{YOUNG_PRERECRUIT_EVENT}
		{DEATH_OF_TAREX_2}
		{CROCODILE_VP}
		# special recruit events
		{SAURIAN_RECRUITS_LIST (Bandit Saurian Recruit List) ("bandit")}
		{SAURIAN_RECRUITS_LIST (Deep Saurian Recruit List) ("deep")}
[/scenario]
