#textdomain wesnoth-vp

[scenario]
	id="08_Vendraxis_lair"
	map_file=Vendraxis_lair.map
	
	name="Vendraxis's lair"
	victory_when_enemies_defeated=no
	next_scenario=09_VP_Epilogue
	
	{TURNS 50 40 35}
	{UNDERGROUND}
	
	{SCENARIO_MUSIC "legends_of_the_north.ogg"}
	{EXTRA_SCENARIO_MUSIC "battle-epic.ogg"}
	{EXTRA_SCENARIO_MUSIC "frantic.ogg"}
	
	[story]
		[part]
			music=revelation.ogg
			{VP_BIGMAP}
			story= _ "Eventually, they reached a vast, empty cave system. It reminded them of home, like a giant underground swamp, though devoid of animals. Zanza's group rested in an abandoned camp, while the Golden Ones established their own nearby. Soon, the Deep Saurians arrived with Refumee. And then..."
		[/part]
	[/story]
	{VP_TRACK {JOURNEY_08_NEW} }
	
	[event]
		name=prestart
		{VP_RECALL_COSTS_ADJUSTMENT}
		[objectives]
			{OBJECTIVE ( _ "Discover how to defeat Vendraxis") (win)}
			{OBJECTIVE ( _ "Death of Zanza") (lose)}
			{OBJECTIVE ( _ "Death of Anexir") (lose)}
			{OBJECTIVE ( _ "Death of Refumee") (lose)}
			{TURNS_RUN_OUT}
			{END_GAME_NOTE}
		[/objectives]
		{BANDIT_RECRUIT_PRESTART}
		{DEEP_RECRUIT_PRESTART}
		{DESERT_RECRUIT_PRESTART}
		{RECALL_XY Anexir 5 35}
		{RECALL_XY Salanix 4 37}
		{RECALL_XY Arnatrax 1 34}
		{RECALL_XY Tarex 10 36}
		
		{PLACE_IMAGE items/ornate2.png 13 37}
		{PLACE_IMAGE items/ornate2.png 30 29}
		{PLACE_IMAGE items/ornate2.png 23 19}
		{PLACE_IMAGE items/ornate2.png 15 2}
		{PLACE_IMAGE items/ornate2.png 1 10}
		
		[set_variable]
			name=number_urn
			value=5
		[/set_variable]
		[set_variable]
			name=vendraxis_alive_first
			value=yes
		[/set_variable]
		[set_variable]
			name=first_urn
			value=no
		[/set_variable]
	[/event]
	
	[side]
		controller="human"
		fog=no
		{GOLD 500 400 325}
		{INCOME 15 10 6}
		hidden=no
		share_vision="all"
		shroud=no
		fog=no
		side=1
		team_name=1
		village_support=2
		color=purple
		user_team_name= _ "Firefly Clan"
		recruit="Ref Saurian Devotee,Ref Young Saurian,Saurian Skirmisher,Saurian Augur,Ref Saurian Shaman,Ref Dragonfly Rider,Ref Saurian Cannibal,Bandit Saurian Recruit List,Deep Saurian Recruit List,Desert Saurian Recruit List"
		{CHARACTER_STATS_ZANZA}
		{ATO_SAURIAN_FLAG}
	[/side]
	[side]
		controller="ai"
		{GOLD 400 200 125}
		{INCOME 20 12 8}
		color=blue
		share_vision="all"
		recruit="Deep Saurian Augur,Deep Saurian Fighter,Deep Saurian Blacksmith,Deep Fire Ant Rider,Deep Saurian Soothsayer,Deep Saurian Craftsman,Deep Saurian Armorer,Deep Saurian Rider,Ref Deep Saurian Peltast,Deep Saurian Pikemen"
		side=2
		team_name=1
		village_support=2
		save_id=Refumee
		persistent=yes
		user_team_name="Deep Saurians"
		[unit]
			facing="nw"
			{CHARACTER_STATS_REFUMEE}
			ai_special=guardian
			x=26
			y=36
		[/unit]
		[ai]
			passive_leader=yes
		[/ai]
		{ATO_SAURIAN_FLAG}
	[/side]
	[side]
		controller="ai"
		fog=yes
		{GOLD 200 100 75}
		{INCOME 10 7 5}
		hidden=no
		shroud=no
		fog=no
		side=3
		team_name=1
		village_support=2
		color=green
		user_team_name="Golden Ones"
		recruit="Desert Saurian Slinger,Desert Saurian Milita,Desert Wyrmlet,Desert Wyrm,Desert Saurian Adept,Desert Saurian Marksman,Desert Saurian Priest,Desert Rider Scorpion,Desert Saurian Soldier,Desert Saurian Squire"
		[leader]
			type="Desert Saurian High Priest"
			gender=male
			x=5
			y=40
			[modifications]
				{TRAIT_FEARLESS}
				{TRAIT_RESILIENT}
			[/modifications]
		[/leader]
		[ai]
		passive_leader=yes
		[/ai]
		{ATO_SAURIAN_FLAG}
	[/side]
	[side]
		controller="ai"
		fog=yes
		{GOLD 125 250 400}
		{INCOME 3 5 10}
		hidden=no
		shroud=no
		side=4
		team_name=2
		color=brown
		user_team_name="Vendraxis"
		village_support=2
		recruit="GSaurian Skirmisher,Saurian Ghoul,Saurian Skirmisher Zombie,Lich Saurian Augur,Saurian Dark Adept,Lich Saurian Soothsayer,GSaurian Ambusher,Saurian Flayer,Saurian Runner,Saurian Ambusher Zombie,Saurian Dark Sorcerer"
		[ai]
		passive_leader=yes
		[/ai]
		[leader]
			facing="se"
			type="Saurian Necromancer"
			x=26
			y=6
		[/leader]
		{ATO_SAURIAN_FLAG}
	[/side]
	[side]
		controller="ai"
		fog=yes
		{GOLD 125 175 300}
		{INCOME 5 10 14}
		hidden=no
		shroud=no
		side=5
		team_name=2
		color=teal
		recruit="Lich Saurian Soothsayer,GSaurian Ambusher,Saurian Flayer,Saurian Runner,Saurian Ambusher Zombie,Saurian Dark Sorcerer"
		user_team_name="Vendraxis"
		village_support=2
		[ai]
		passive_leader=yes
		[/ai]
		[leader]
			facing="se"
			id="Vendraxis"
			name="Vendraxis"
			type="Ref Saurian Witchdoctor"
			x=15
			y=20
		[/leader]
		{ATO_SAURIAN_FLAG}
	[/side]
	[side]
		controller="ai"
		fog=yes
		{GOLD 100 150 300}
		{INCOME 5 10 14}
		hidden=no
		shroud=no
		side=6
		team_name=2
		color=red
		recruit="Saurian Flayer,Saurian Ambusher Zombie,Saurian Runner"
		user_team_name="Vendraxis"
		village_support=2
		[ai]
		passive_leader=yes
		[/ai]
		[leader]
			facing="se"
			type="Lich Saurian Soothsayer"
			x=1
			y=14
		[/leader]
		[unit]
			facing="sw"
			type="Saurian Dark Sorcerer"
			x=11
			y=23
			canrecruit=yes
			ai_special=guardian
		[/unit]
		{ATO_SAURIAN_FLAG}
	[/side]
	
	[event]
		name=start
		[capture_village]
			side=5
			x,y=15,20
			radius=18
		[/capture_village]
		[capture_village]
			side=5
			x,y=3,4
			radius=2
		[/capture_village]
		[capture_village]
			side=1
			x,y=2,36
			radius=3
		[/capture_village]
		[capture_village]
			side=2
			x,y=26,36
			radius=2
		[/capture_village]
		[capture_village]
			side=3
			x,y=4,39
			radius=2
		[/capture_village]
		[capture_village]
			side=4
			x,y=26,5
			radius=5
		[/capture_village]
		[capture_village]
			side=6
			x,y=27,19
			radius=3
		[/capture_village]
		[capture_village]
			side=6
			x,y=13,30
			radius=5
		[/capture_village]
		{SPEAK Vendraxis ( _ "Welcome to my home, saurians. I would be a poor host if I didn’t offer you immortality one last time. Join me and I may spare you; refuse, and I will force your hand.")}
		{SPEAK Zanza ( _ "Then come and try!") }
		{SPEAK Refumee ( _ "Face us, pest!") }
		{SPEAK Arnatrax ( _ "We will purge your evil from this world!") }
		{SPEAK Vendraxis ( _ "Very well. Then come.") }
		
		{PUT_SOUL_VARIATION 4 8 37 saurian}
		{PUT_SOUL_VARIATION 4 7 34 saurian}
		{PUT_SOUL_VARIATION 4 12 38 serpent}
		{PUT_SOUL_VARIATION 4 2 32 saurian}
		
		{PUT_SOUL_VARIATION 4 18 33 saurian}
		{PUT_SOUL_VARIATION 4 23 32 serpent}
		{PUT_SOUL_VARIATION 4 21 31 saurian}
		{PUT_SOUL_VARIATION 4 21 39 serpent}
		[message]
			speaker=narrator
			message= _ "Do you wish to take command of your allies?"
			[option]
				label= _ "Yes, I will lead them."
				[command]
					[modify_side]
						side=2
						controller="human"
					[/modify_side]
					[modify_side]
						side=3
						controller="human"
					[/modify_side]
				[/command]
			[/option]
			[option]
				label= _ "No, I will not."
				[command]
					[gold]
						amount=50
						side=2
					[/gold]
					[gold]
						amount=50
						side=3
					[/gold]
				[/command]
			[/option]
		[/message]
		{RECALL_FOLLOWER}
	[/event]
		
	#reach center
	[event]
		name=enter hex
		first_time_only=yes
		
		[filter]
			x = 0-9,13-31
			y = 22,22
			side=1,2,3
		[/filter]
		
		{SPEAK Vendraxis ( _ "Do not think you have defeated me yet. This is only the beginning!")}
		
		{PUT_SOUL_VARIATION 4 5 17 saurian}
		{PUT_SOUL_VARIATION 4 20 20 saurian}
		{PUT_SOUL_VARIATION 4 27 21 saurian}
		{PUT_SOUL_VARIATION 4 16 19 saurian}
		
		{PUT_SOUL_VARIATION 4 17 15 serpent}
		{PUT_SOUL_VARIATION 4 24 17 serpent}
		{PUT_SOUL_VARIATION 4 10 19 serpent}
		{PUT_SOUL_VARIATION 4 7 15 serpent}
		#ifdef HARD
			[gold]
				amount=200
				side=4,5,6
			[/gold]
		#else
			[gold]
				amount=150
				side=4,5,6
			[/gold]
		#endif
		
	[/event]
	
	[event]
		name=turn 5
		#defend Refumee!
		[event]
			name=enter hex
			first_time_only=yes

			[filter]
				x=26
				y=36
				side=4,5,6
				radius=5
			[/filter]
			
			{SPEAK Refumee ( _ "Stand firm, warriors! Protect your chief at all costs!")}
			[unit]
				type="Deep Saurian Warrior"
				ignore_race_traits=yes
				num_traits=3
				id=ONE
				[modifications]
					{TRAIT_LOYAL}
					{TRAIT_RESILIENT}
					{TRAIT_HEALTHY}
				[/modifications]
				[status]
					guardian=yes
				[/status] 
				x,y=27,36
			[/unit]
			{SPEAK ONE ( _ "We will not let a single foe touch you, Chief!")}
			[unit]
				type="Deep Saurian Warrior"
				ignore_race_traits=yes
				num_traits=3
				id=TWO
				[modifications]
					{TRAIT_LOYAL}
					{TRAIT_RESILIENT}
					{TRAIT_HEALTHY}
				[/modifications]
				[status]
					guardian=yes
				[/status] 
				x,y=25,37
			[/unit]
			{SPEAK TWO ( _ "For our chief and our people! We fight to the last breath!")}
		[/event]
	[/event]

	#count urns
	#define CHECK_URN_COUNT
		[set_variable]
			name=number_urn
			sub=1
		[/set_variable]
		
			#urn 1
			[if]
				[variable]
					name=number_urn
					numerical_equals=4
				[/variable]

				[then]
					[fire_event]
						name=first_urn_destroyed
					[/fire_event]
				[/then]
			[/if]
			
			#urn 2
			[if]
				[variable]
					name=number_urn
					numerical_equals=3
				[/variable]

				[then]
					[fire_event]
						name=second_urn_destroyed
					[/fire_event]
				[/then]
			[/if]
			
			#urn3
			[if]
				[variable]
					name=number_urn
					numerical_equals=2
				[/variable]

				[then]
					[fire_event]
						name=third_urn_destroyed
					[/fire_event]
				[/then]
			[/if]
			
			#urn 4
			[if]
				[variable]
					name=number_urn
					numerical_equals=1
				[/variable]

				[then]
					[fire_event]
						name=fourth_urn_destroyed
					[/fire_event]
				[/then]
			[/if]
			
			#urn 5
			[if]
				[variable]
					name=number_urn
					numerical_equals=0
				[/variable]

				[then]
					[fire_event]
						name=all_urns_destroyed
					[/fire_event]
				[/then]
			[/if]
	#enddef

	#urn 1
	{ANEXIR_URN 13 37}
	{URN_DESTROY 13 37 1}
	
	#urn 2
	{URN_DESTROY 30 29 2}
		
	#urn 3
	{URN_DESTROY 23 19 3}
	
	#urn 4
	{URN_DESTROY 1 10 4}
	
	#urn 5
	{URN_DESTROY 15 2 5}
	
	#urn destruction
	[event]
		name=first_urn_destroyed
		
		{SPEAK Vendraxis ( _ "NOOOOOOOOOOO! You stupid children! You don't know what you are messing with!!! You will pay for this! I'll kill you over and over again for this impudence.")}
		{SPEAK Anexir ( _ "Based on this reaction I guess that this was his power source. We need to find and destroy all of them!")}
		# Somebody could have a laugh here : 'Zanza : Got you!' His reaction sure is funny. -- LumiousE
			#ifdef HARD
				{VEN_GUARDIAN 5 (GSaurian Flanker) 29 28}
				{VEN_GUARDIAN 5 (GSaurian Flanker) 3 10}
				{VEN_GUARDIAN 5 (GSaurian Flanker) 24 19}
				{VEN_GUARDIAN 5 (GSaurian Flanker) 22 18}
				{VEN_GUARDIAN 5 (GSaurian Flanker) 15 2}
				{VEN_GUARDIAN 5 (GSaurian Flanker) 15 2}
			#else
				{VEN_GUARDIAN 5 (GSaurian Ambusher) 15 2}
				{VEN_GUARDIAN 5 (GSaurian Ambusher) 15 2}
			#endif
		{VEN_GUARDIAN 5 (GSaurian Flanker) 30 29}
		{VEN_GUARDIAN 5 (GSaurian Flanker) 23 19}
		{VEN_GUARDIAN 5 (GSaurian Flanker) 1 10}
		
		{VEN_GUARDIAN 5 (GSaurian Flanker) 15 2}
		
		[objectives]
			silent=yes
			{OBJECTIVE ( _ "Destroy all urns: ($|number_urn/5) left") (win)}
			{OBJECTIVE ( _ "Death of Zanza") (lose)}
			{OBJECTIVE ( _ "Death of Anexir") (lose)}
			{OBJECTIVE ( _ "Death of Refumee") (lose)}
			{TURNS_RUN_OUT}
			{END_GAME_NOTE}
		[/objectives]
	[/event]
	[event]
		name=second_urn_destroyed
		
		{SPEAK Vendraxis ( _ "Infidels! Begone! Immortality is not for you!")}
		{SPEAK Refumee ( _ "Ha! Ha! Keep up the pressure!")}

	[/event]
	[event]
		name=third_urn_destroyed
		
		{SPEAK Vendraxis ( _ "I will destroy your homes, your families, your people! I will find them all and make them suffer!")}
		{SPEAK Arnatrax ( _ "He's weakening!")}
		{SPEAK Anexir ( _ "...and growing more unstable. He's focusing his powers on creating even stronger undead!")}
		[set_recruit]
			side=5
			recruit="GSaurian Flanker,Saurian Necromancer,Lich Saurian Seer,Saurian Sprinter,Saurian Undead Stalker,Saurian Flanker Zombie"
		[/set_recruit]
		#ifdef HARD
			[gold]
				amount=250
				side=5
			[/gold]
		#else
			[gold]
				amount=150
				side=5
			[/gold]
		#endif
		
	[/event]
	[event]
		name=fourth_urn_destroyed
		
		{SPEAK Vendraxis ( _ "Please... stop! I surrender. I will behave as a proper saurian.")}
		{SPEAK Anexir ( _ "Never! We will never trust a dark necromancer who desecrates the dead.")}
		{SPEAK Vendraxis ( _ "So be it! I will fight until the very end.")}
		#ifdef HARD
			[gold]
				amount=250
				side=5
			[/gold]
		#else
			[gold]
				amount=150
				side=5
			[/gold]
		#endif

		{URN_DEFENDER}	
	[/event]
	
	[event]
		name=all_urns_destroyed
		
		{SPEAK Vendraxis ( _ "You! You imbecile saurian! I shall delight in raising your dead, only to kill you again and again!")}
		{SPEAK Zanza ( _ "Now! He's on his last legs. We can defeat him!")}
		{SPEAK Anexir ( _ "Forward!")}
		#ifdef HARD
			[gold]
				amount=300
				side=5
			[/gold]
		#else
			[gold]
				amount=200
				side=5
			[/gold]
		#endif
		[set_variable]
			name=all_urns_destroyed1
			value=yes
		[/set_variable]
		
		[objectives]
			{OBJECTIVE ( _ "Defeat Vendraxis") (win)}
			{OBJECTIVE ( _ "Death of Zanza") (lose)}
			{OBJECTIVE ( _ "Death of Anexir") (lose)}
			{OBJECTIVE ( _ "Death of Refumee") (lose)}
			{TURNS_RUN_OUT}
			{END_GAME_NOTE}
		[/objectives]
	[/event]
	
	#Vendraxis respawn
	[event]
			name=last breath
			first_time_only=no
			
			[filter]
				id=Vendraxis
			[/filter]
			
			[if]
				[have_unit]
					x,y=4,4
				[/have_unit]
				[then]

					{SPEAK_NARRATOR ( _ "A hidden force is driving your unit away from the keep.")}
					[teleport]
						[filter]
							x,y=4,4
						[/filter]
						x,y=4,8
						animate=yes
					[/teleport]

				[/then]
				[else]
				[/else]
			[/if]
			
			[if]
				[variable]
					name=all_urns_destroyed1
					boolean_equals=yes
				[/variable]
				[then]
					[fire_event]
						name=vendraxis_dead
					[/fire_event]
				[/then]
				[else]
					[kill]
						id=Vendraxis
						animate=yes
					[/kill]
					
					[delay]
						time=1000
					[/delay]
					
						[unit]
							side=5
							id="Vendraxis"
							name="Vendraxis"
							type="Ref Saurian Witchdoctor"
							canrecruit=yes
							x,y=4,4
						[/unit]
						{SPEAK Vendraxis ( _ "You can't kill me!")}
					[set_recruit]
						side=5
						recruit="GSaurian Flanker,Saurian Necromancer,Lich Saurian Seer,Saurian Sprinter,Saurian Undead Stalker,Saurian Flanker Zombie"
					[/set_recruit]
					[gold]
						amount=150
						side=5
					[/gold]
					{GENERIC_UNIT 5 (Saurian Flanker Zombie) 8 9}
					{GENERIC_UNIT 5 (Saurian Flanker Zombie) 5 5}
					{GENERIC_UNIT 5 (Saurian Sprinter) 6 9}
					{GENERIC_UNIT 5 (GSaurian Flanker) 10 10}
					{GENERIC_UNIT 5 (GSaurian Flanker) 15 13}
					[set_variable]
						name=vendraxis_alive_first
						value=no
					[/set_variable]
				[/else]
			[/if]
	[/event]

	# ***** victory events *****	
		
	[event]
		name=vendraxis_dead
		first_time_only=no
		id=vendraxis_dead
		{SPEAK $second_unit.id ( _ "I got him!")}
		
		{REPLACE_SCENARIO_MUSIC weight_of_revenge.ogg}
		
		{MODIFY_UNIT id=Vendraxis hitpoints 1}
			[delay]
				time=1000
			[/delay]
		{SPEAK Vendraxis ( _ "So, this is how it ends...
		
*he smiles weakly, bloodless lips curling as he looks at the heroes*")}
		{SPEAK Vendraxis ( _ "But not for me, not really.

You think you’ve vanquished me, but you were always part of my plan... part of a vision I saw long ago in the stars. You see, I knew this day would come. I knew you would come, and I knew I would fall by your hand.

*he glances upward, almost wistfully*")}
		{SPEAK Vendraxis ( _ "I sought immortality, yes... but not for myself. For my people.

When I became this... I thought I could save them by conquering death. But they rejected me, couldn’t see the gift I was offering. And so, I turned to the stars once more. And they showed me a different path.")}
		{SPEAK Vendraxis ( _ "My death was always necessary. The prophecy I spread wasn’t just a call for heroes — it was a way to bring my people together. A story of salvation written in your deeds. I will die here today, yes... but my legacy will live on.")}
		{SPEAK Vendraxis ( _ "Because in defeating me, you’ve shown them...
You’ve shown them the power of unity, of what they can achieve when they stand together, even against the impossible. And soon, they will understand. Soon, they will see that necromancy... is not the enemy. Death is not to be feared. And when that day comes... my people will be free.")}
		{SPEAK Vendraxis ( _ "*his form starts to disintegrate, but his eyes remain bright, almost triumphant*
		
So go. Tell them of your victory. Tell them you saved them from the 'monster.'")}
		[sound]
			name=dwarf-laugh.wav
		[/sound]
		{SPEAK Vendraxis ( _ "*he laughs softly*
		
But remember this: in the end, I’ve won. My dream lives on in you... and in the future I’ve seen for my people. And that... is immortality.")}
		{SPEAK Vendraxis ( _ "*as his body turns to dust, his final words echo in the air*
		
		I will see you again... in the stars.")}
		[kill]
			id=Vendraxis
			animate=yes
		[/kill]
		{FLASH_WHITE (
			[sound]
				name=lich-die.ogg
			[/sound]
			[kill]
				side=4,5,6
				animate=no
				fire_event=no
			[/kill]
		)}
			
			{SPEAK Zanza ( _ "At last... it’s over. But what now? We can’t ignore the legacy he’s left behind.")}
			{SPEAK Anexir ( _ "We should stay here for a while. This place has everything we need: strong defenses, clean water, and even food from the mushrooms. It could serve as a new stronghold.")}
			{SPEAK Refumee ( _ "We owe it to you, Zanza, to honor your help. We’ll do everything we can to cultivate this land and strengthen our bonds.")}
			{SPEAK Arnatrax ( _ "Agreed. I’ve also found a perfect spot for a garden — a place where our people can gather and worship.")}
			{SPEAK Zanza ( _ "Thank you all for your support. We need to discuss what this new unity means for us and for him.")}
			{SPEAK Anexir ( _ "So, it seems our journey has just begun. Let’s make this place a true home, honoring the legacy he left behind.")}
			
			{CLEAR_VARIABLE got_urn1,got_urn2,got_urn3,got_urn4,got_urn5,all_urns_destroyed1,first_urn}
			[endlevel]
				result=victory
				bonus=no
			[/endlevel]
	[/event]
	
		[event]
			name=victory
			[if]
				[variable]
					name=vendraxis_alive_first
					boolean_equals=yes
				[/variable]

				[then]
					[set_achievement]
						content_for=vendraxis_prophecy
						id="vendraxis"
					[/set_achievement]
					{CLEAR_VARIABLE number_urn,vendraxis_alive_first}
				[/then]
				[else]
					{CLEAR_VARIABLE number_urn,vendraxis_alive_first}
				[/else]
			[/if]
		[/event]
		# ***** generic defeat events *****
		
		{VP_DEATH_OF_LEADER}
		{DEATH_OF_TAREX_2}
		{DEATH_OF_SALANIX}
		{DEATH_OF_ARNATRAX}
		[event]
			name=last breath
			[filter]
				id=Refumee
			[/filter]
			{SPEAK Refumee ( _ "I was not prepared for this.")}
			{SPEAK Zanza ( _ "We can't win without him.")}
			[kill]
				id=Refumee
				animate=yes
			[/kill]
			[endlevel]
				result=defeat
			[/endlevel]
		[/event]
		# ***** generic events *****
		{YOUNG_PRERECRUIT_EVENT}
		{CROCODILE_VP}
		# special recruit events
		{SAURIAN_RECRUITS_LIST (Bandit Saurian Recruit List) ("bandit")}
		{SAURIAN_RECRUITS_LIST (Deep Saurian Recruit List) ("deep")}
		{SAURIAN_RECRUITS_LIST (Desert Saurian Recruit List) ("desert")}
[/scenario]
