#textdomain wesnoth-vp
[achievement_group]
    display_name=_"Vendraxis Prophecy"
    content_for=vendraxis_prophecy
	[achievement]
        id="recruitment"
        name=_"Scenario 1: A new Home?"
        description=_"Recruit a new Unit in the 'Castle' of the enemy."
        icon="data/core/images/attacks/fist.png"
        icon_completed="data/core/images/attacks/fist.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-3-red.png",0,0)"
    [/achievement]
    [achievement]
        id="bandits_dog"
        name=_"Scenario 2: The Bandits tough Dog!"
        description=_"Defeat the saurian bandit leader without killing Katraxtrax."
        icon="data/core/images/attacks/dagger-curved.png"
        icon_completed="data/core/images/attacks/dagger-curved.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-3-red.png",0,0)"
    [/achievement]
	[achievement]
        id="crocodile"
		hidden=yes
        name=_"Scenario ??: Crocodiles? Nobody told me that the lizards have crocodiles!"
        description=_"Recruit a crocodile in Depature and then recall it in a later scenario."
        icon="data/core/images/attacks/fangs.png"
        icon_completed="data/core/images/attacks/fangs.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-3-red.png",0,0)"
    [/achievement]
	[achievement]
        id="backdoor"
        name=_"Scenario 3: Backdoor"
        description=_"Open the hidden passage before the dwarvish guards discover you."
        icon="data/core/images/attacks/web.png"
        icon_completed="data/core/images/attacks/web.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-3-red.png",0,0)"
    [/achievement]
	[achievement]
        id="backstab"
        name=_"Scenario 3: Backstab"
        description=_"Defeat the dwarvish leader instead of reaching the entrance."
        icon="data/core/images/attacks/blade-curved.png"
        icon_completed="data/core/images/attacks/blade-curved.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-3-red.png",0,0)"
    [/achievement]
	[achievement]
        id="erimit"
        name=_"Scenario 4: Alone at Home"
        description=_"Find the lonely hermit."
        icon="data/core/images/attacks/gaze.png"
        icon_completed="data/core/images/attacks/gaze.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-3-red.png",0,0)"
    [/achievement]
	[achievement]
        id="writer"
        name=_"Scenario 4: Overwhelming Numbers? Where?"
        description=_"Defeat one of the undead leaders in the end."
        icon="data/core/images/icons/book.png"
        icon_completed="data/core/images/icons/book.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-3-red.png",0,0)"
    [/achievement]
	[achievement]
        id="first_cannon"
        name=_"Scenario 5: Cannons to the front"
        description=_"Get an Saurian Artisan."
        icon="data/core/images/attacks/thunderstick.png"
        icon_completed="data/core/images/attacks/thunderstick.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-3-red.png",0,0)"
    [/achievement]
	[achievement]
        id="rebellion"
        name=_"Scenario 6: All must suffer"
        description=_"Defeat the mercenary leaders before defeating the Deep Saurian faction."
        icon="data/core/images/attacks/claws-flaming.png"
        icon_completed="data/core/images/attacks/claws-flaming.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-3-red.png",0,0)"
    [/achievement]
	[achievement]
        id="sleep"
		hidden=yes
        name=_"Scenario 7: The other guardian is sleeping"
        description=_"Find the sleeping guard."
        icon="data/add-ons/Refumees_Saurian_Pack/images/attacks/leader.png"
        icon_completed="data/add-ons/Refumees_Saurian_Pack/images/attacks/leader.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-3-red.png",0,0)"
    [/achievement]
	[achievement]
        id="urn"
        name=_"Scenario 7: The guardian in the way"
        description=_"Defeat the undead Saurian leader before you enter the entrance."
        icon="data/core/images/attacks/lightbeam.png"
        icon_completed="data/core/images/attacks/lightbeam.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-3-red.png",0,0)"
    [/achievement]
	[achievement]
        id="easteregg"
        name=_"Scenario 07a: The dragon in the hidden ..."
        description=_"Find the Green Dragon."
        icon="data/core/images/attacks/claws-drake.png"
        icon_completed="data/core/images/attacks/claws-drake.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-3-red.png",0,0)"
    [/achievement]
	[achievement]
        id="easteregg_real"
		hidden=yes
        name=_"Scenario 7a: ... forest"
        description=_"Find the Forest Dragon."
        icon="data/add-ons/Vendraxis_Prophecy/images/attacks/fire-breath-drake_forestdragon.png"
        icon_completed="data/add-ons/Vendraxis_Prophecy/images/attacks/fire-breath-drake_forestdragon.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-3-red.png",0,0)"
    [/achievement]
	[achievement]
        id="easteregg_meme"
		hidden=yes
        name=_"Scenario 7a: Why can't you just be normal?"
        description=_"Defeat Fizztsars once."
        icon="data/core/images/attacks/wail.png"
        icon_completed="data/core/images/attacks/wail.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-3-red.png",0,0)"
    [/achievement]
	[achievement]
        id="vendraxis"
        name=_"Scenario 8: Who?"
        description=_"Defeat Vendraxis without killing him more than once."
        icon="data/core/images/attacks/staff-plague.png"
        icon_completed="data/core/images/attacks/staff-plague.png~SCALE(72,72)~BLIT("data/core/images/misc/achievement-frames/frame-3-red.png",0,0)"
    [/achievement]
[/achievement_group]
